# ignore all csv files
#*.csv

# ignore all log file
# current logfiles: meals prepared
*.log

# ignore __pycache__
__pycache__/

# ignore all .swp files, these are temporary files when using vim
*.swp

# file used for initiallizing meal list at beginning of project.
initialize_data.py

# ignore venv folder
venv/

# ignore self-tutorial folders
*_tutorial/

secrets.toml

# ignore images saved from Pexels
last_meal_img.jpg
