# ignore all csv files
#*.csv

# ignore all log file
# current logfiles: meals prepared
*.log

# ignore __pycache__
__pycache__/

# ignore all .swp files, these are temporary files when using vim
*.swp
